# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Logs
*.log
npm-debug.log*

# Ambiente
.env
.env.local

# Sistema Operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
coverage/